$dropdown-height: 200px;
$mobile-dropdown-height: 200px;
$top-nav-height: 60px;

@keyframes addOverlay {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.3);
  }
}

@keyframes slideDown {
  from {
    top: $top-nav-height - $dropdown-height;
  }
  to {
    top: $top-nav-height;
  }
}

@keyframes mobileSlideDown {
  from {
    top: $top-nav-height - $mobile-dropdown-height;
  }
  to {
    top: $top-nav-height;
  }
}

.TopNav {
  align-items: center;
  display: flex;
  height: $top-nav-height;
  justify-content: space-between;

  &__right {
    align-items: center;
    display: flex;
  }

  &__right-item {
    margin-left: 42px;

    @media (max-width: 992px) {
      display: none;
    }
  }

  .mobile-menu {
    display: none;

    @media (max-width: 992px) {
      display: block;
    }

    &__items {
      margin-top: 5px;
    }
    &__button {
      background: transparent;
      border: none;
      height: $top-nav-height;
      outline: none;
      transition: background 0.1s ease-in;
      width: $top-nav-height;
      color: var(--color-white);

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
    }

    &__dropdown-container {
      animation: slideDown 0.3s forwards;
      background: var(--color-secondary);
      box-shadow: 0 6px 6px rgba(4, 34, 53, 0.3);
      display: flex;
      height: $dropdown-height;
      right: 0;
      padding: 30px 60px 30px 60px;
      position: absolute;
      top: $top-nav-height;
      z-index: 2;
      flex-direction: column;

      @media (max-width: 576px) {
        animation: mobileSlideDown 0.3s forwards;
        flex-direction: column;
        height: $mobile-dropdown-height;
        padding: 18px 36px;
      }
    }

    &__overlay {
      animation: addOverlay 0.3s forwards;
      height: calc(100vh - #{$top-nav-height});
      left: 0;
      outline: none;
      position: fixed;
      top: $top-nav-height;
      width: 100vw;
      z-index: 1;
    }
  }
}
